

#jumbo{
	background-color: #EEE;
	margin: 15px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width:1000;
	border-radius: 15px;
	opacity: 70%;
}
.centerText{
	text-align: center;
	font-family: anitqua;
}
.moneyShot{
	height: 600;
	width:800;
}
.list{
	width:600;
}
.col-centered{
    float: none;
    
}
.bulletsDiv{
	width:600;
	margin: 0 auto;
}
li{
	font-family: antiqua;
	font-size: 19px;
}